# This workflow defines a couple of jobs to run in the frame of the ACI

name: Automatic Continuous Integration (ACI)
# Controls when the workflow execution is triggered (on “pushes” in this case).
on: [push]
# A workflow is made up of one or more jobs that run sequentially or in parallel

jobs:
  compile:
    runs-on: ubuntu-latest
    name: Compilation
    # A job is made up of one or more steps that run sequentially
    steps:
      # Clone the repository using the predefined "checkout" action.
      - name: Checkout
        uses: actions/checkout@main
      # Compile the source files using the user-defined "compile" action.
      - name: Compile
        id: compile
        uses: malekboubahri2/actions/compile@main
        with:
          gcc-url: ‘https://developer.arm.com/-/media/Files/downloads/gnu-rm/10.3-2021.10/gcc-arm-none-eabi-10.3-2021.10-win32.exe?rev=29bb46cfa0434fbda93abb33c1d480e6&hash=3C58D05EA5D32EF127B9E4D13B3244D26188713C’
          stm32-series: ‘L1'
          define-list: '-DSTM32L152xD '
          option-list: '-march=armv7e-m -mthumb'
      # Log compilation result using the output from the "compile" step.
      - name: Log
        if: failure()
        run: |
          cat ${{ steps.compile.outputs.compile-result }}
          exit 1
